.mypage__container {
  display: flex;
  margin-top: 30px;
  .mypage__orderhistory {
    .calendar-box {
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
      .calendar-date {
        border: 1px solid;
        border-radius: 5px;
        margin-right: 10px;
        outline: none;
      }
      .calendar-icon {
        position: absolute;
        right: 50px;
        bottom: 16px;
        &:hover {
          cursor: pointer;
        }
      }
      button {
        width: 30px;
        height: 30px;
        border: 1px solid;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .calendar .wrapper {
        position: absolute;
        top: 50px;
        right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 256px;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 1px solid var(--logo-color);
        border-radius: 5px;
        background-color: #fff;
        z-index: 5;
        filter: drop-shadow(10px 10px 0px var(--deps-blue));
        .curr-date {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0 0 0;
          text-align: left;
          font-weight: 600;
          .calendar__mth-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            width: 34px;
            height: 34px;
            font-weight: 600;
            &:hover {
              background-color: var(--light-blue);
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
        .curr-dates {
          .weeks {
            display: flex;
            margin: 10px 0 10px;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: calc(100% / 7);
            }
          }
          .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            // grid-template-rows: repeat(5, 34px);
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              &.inactive {
                color: #fff;
              }
              &.active:hover {
                background-color: var(--light-blue);
                border-radius: 50%;
                cursor: pointer;
              }
              &.today {
                background-color: var(--logo-color);
                border-radius: 50%;
                color: #fff;
              }
              &.selected {
                background-color: var(--light-blue);
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
    .products-container {
      position: relative;
      /*주문내역없음*/
      .nocontent-box {
        position: absolute;
        bottom: 50%;
        left: 39%;
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--logo-color);
          img {
            margin: 20px 0;
          }
        }
      }
      .products {
        .product {
          border: 1px solid var(--division-line);
          border-radius: 5px;
          margin: 25px 0;
          padding: 5px;
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          height: 162px;
          &--info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .product--name {
              font-size: 20px;
            }
            .product--info-numbers {
              display: flex;
              gap: 10px;
            }
            .order-status {
              color: var(--soldOut-color);
              padding: 0 0 22px;
            }
          }
          .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .button {
              border: 1px solid var(--logo-color);
              border-radius: 5px;
              margin: 7px 0;
              padding: 7px;
              width: 81px;
              height: 30px;
              text-align: center;
              color: var(--logo-color);
              &:nth-child(2) {
                background-color: var(--logo-color);
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.orderHistory__list {
  img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-right: 20px;
  }
  &--name {
    text-overflow: ellipsis;
  }
}
.order-history__pagination {
  &--btnsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  @mixin orderHistoryPaginationBtn {
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 10px;
    &:hover {
      color: var(--logo-color);
    }
  }
  &--btn {
    @include orderHistoryPaginationBtn();
    &-next,
    &-prev {
      @include orderHistoryPaginationBtn();
    }
  }
}
